Flask
gunicorn
PyMuPDF
spacy==3.7.2
scikit-learn==1.2.2
numpy==1.26.4
PyPDF2
pdf2image==1.17.0
pdfminer.six
pillow
frontend
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.1/en_core_web_trf-3.7.1.tar.gz

